html,body{
    font-family: 'Hanken Grotesk', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    height: 100vh;
    overflow:hidden ;

}
  body{
    display: flex;
    width: 100vw;
  }

  h1{
    font-size: 10vh;
    line-height: 1;

  }

  h2{
    font-size: 5vh;
    
  }

  h3{
    font-size: 2vh;
    
  }

  .f1{
    font-size: 10vh;
  }

  .f2{
    font-size: 5vh;
  }

  .f2-5{
    font-size: 2.5vh;
  }


  .f3{
    font-size: 2vh;
  }


  .left-content{
    width: 50%;
    box-sizing: border-box; 
    padding: 5%;
    height: 100vh;

  }
  .right-content{
    /* width: 100%; */
    box-sizing: border-box;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: scroll;
  }

  .center1{
    display: inline-flex;
    align-content: center;
  }

  .lh1-0{
    line-height: 0 !important;
  }

  .lh-5{
    line-height: .5;
  }
  .lh1{
    line-height: 1;
  }

  .lh1-2{
    line-height: 1.2;
  }

  .lh1-5{
    line-height: 1.5;
  }



  .block-generic{
    width: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 5%;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 5px;
  }

  .head-block-project{
    line-height: .5;
  }

  #container-1{
    position: fixed;
    width: 100vw;
    height: 10px;
    size: 10px;
    position:fixed;
    border:2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #container-1 .inside-container{
    transition: 1.2s;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .noMargin{
    margin: 0PX !important;
  }

  .w50{
    width: 50%;
  }

  .w100{
    width: 100%;
  }
  .mg5p{
    margin: 5%;
  }
  .pd5p{
    padding: 5%;
  }

  .pd10p{
    padding: 5% 10%;
  }

  .blur{
    transition: .6s;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, .8); 
  }

  .no-blur{
    transition: .6s;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background-color: aliceblue; 
  }


  .BGorange{
    background-color: #E85913;
  }

  .BGwhite{
    background-color: white;
  }

  .BGblack{
    background-color: black;
  }

  .BGgrey{
    background-color: #EEEEF6;
  }

  .BGpurple1{
   background-color: #7D57FF; 
  }

  .white{
    color: white;
  }
  .black{
    color: black;
  }
  .project-logo{
    display: flex;
  }
  .project-logo .company-logo{
    margin-left: .5%;
  }

  .project-logo img{
    width: 7vh ;
    height: 7vh;
    border-radius: 1px;
    /* -webkit-box-shadow: 0px 0px 104px -16px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 104px -16px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 104px -16px rgba(0,0,0,0.36); */
    border-radius: 10px;
  }

.light{
    font-weight: 300;
}

.sha1{

}

.f-Poppins{
    font-family: 'Poppins', sans-serif;
}

.bbox{
    box-sizing: border-box;
}

.border1{
    border-radius: 55px;
}


.scroll::-webkit-scrollbar-thumb:hover {
    background:transparent !important;
  }
  
  
.scroll::-webkit-scrollbar {
    width: 0px !important;
    height:  0px !important;
  
  }
  
  /* Track */
.scroll::-webkit-scrollbar-track {
    background: transparent !important;
    
}
  
  /* Handle */
.scroll::-webkit-scrollbar-thumb {
    background:transparent !important;
    height:  0px !important;    
    border-radius: 0px !important;
     height: 0vw !important;
}
  
  /* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
    background:transparent !important;
    height:  0px !important;
  
}
  
.scroll{
     scrollbar-color: transparent transparent;
     scrollbar-width: thin;
}


.dFlex{
  display: inline-flex;
}